<dl class="accordion" data-accordion>
   <% @sales_products.each do |sp| %>
     <dd class="accordion-navigation">
       <a href="#panel-<%= sp.id %>">
          <i class="fi-dollar"></i>
          <%= sp.name%>       
       </a>
       <div id="panel-<%= sp.id %>" class="content">
          <div class="row">
            <div class="panel">
               <h5>Description: <%= sp.desc %></h5>
            </div>
          </div>
          <div class="row">
            <div class="panel">      
                Needs Validation?: <%= sp.requires_validation %>
             </div>
          </div>
          <div class="row">
             <%= link_to "Edit", edit_sales_product_path(sp), class: "button" %>
             <%= link_to "Delete", sales_product_path(sp), method: :delete, class: "button" %>
          </div>
          <div class="row">
             <div class="small-5 columns">
                <dl class="sub-nav">
                  <dt>Number of Originations: </dt>
                  <dd class="active"><a href="#"><%= sp.originations.count %></a></dd>
                </dl>
             </div>
             <div class="small-7 columns">
                <% sp.originations.each do |buy| %>
                   <div class="panel">
                     <i class="fi-torso"></i><h5><%= buy.party_name()%></h5>
                   </div>
                <% end %>
            </div>
         </div>
     </dd>
  <% end %>
</dl>

<%= link_to "New Sales Product", new_sales_product_path, class: "button"%> 